
<script src="../app.component.ts"></script>

<h1 align="center">{{'Task Manager'}} </h1>

<h2 align="center"> My Tasks</h2>
<ul class="tasks">
  <li *ngFor="let task of tasks"
      [class.selected]="task == selectedTask"
      (click)="onSelect(task)">
  <span class="badge">{{task.date.toLocaleString()}}</span> {{task.name}}
    <button class="DeleteTask" title="delete task"
            (click)="DeleteTask(task)">X</button>
  </li>
</ul>

<div *ngIf="selectedTask">

<h2>{{selectedTask.name}}</h2>
<div>
  <label>date:
    <input [ngModel]="selectedTask.date" placeholder="date">
  </label>
</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedTask.name" placeholder="name">
  </label>
</div>
</div>
<h2>Add Task</h2>

<div>
  <label>Task name:
    <input #taskName />
  </label>
  <label>Date:
    <input #date />
  </label>
  <button (click)="AddTask(taskName.value, date.value)">
    add
  </button>
</div>
